In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='taxi_zone'))

CREATE TABLE "taxi_zone" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [9]:
print(pd.io.sql.get_schema(df, name='taxi_zone', con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df.to_sql(name='taxi_zone', con=engine, if_exists='replace')

265